html, body {
    width: 100%;
    height: 100%;
}
body {
    font-family: 'Nunito', sans-serif !important;
    font-weight: 600 !important;
    background: #D1D8E0;
    display: flex;
    flex-direction: column;
}

.mobile-content-p {
    padding: 17px;
}
.pc-content-p {
    padding: 34px;
}
.mobile-header-p {
    padding: 17px;
    width: calc(100% - 34px);
}
.pc-header-p {
    padding: 34px;
    width: calc(100% - 68px);
}

/* HEADER */
.header {
    background: #F1F1F1;
    box-shadow: 0px 7px 30px -10px rgba(150, 170, 180, 0.5);
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header h1 {
    font-size: 28px;
    line-height: 30px;
    font-weight: 700;
}
.header h2 {
    font-size: 22px;
    line-height: 24px;
}
.content {
    display: flex;
    flex-direction: column;
}

/* QUESTION BAR */
.question-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*! padding: 34px; */
    /*! margin-bottom: 34px; */
}
.bar-left, .bar-right {
    display: inline-flex;
    align-items: center;
}
.bar-left {
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-color: #45AAF2;
}
.qbar-item {
    width: 65px;
    min-width: 65px;
    height: 65px;
    box-shadow: 0 7px 30px -2px rgba(150,170,180,0.5);
    border-radius: 10px;

    font-size: 24px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 17px;
    transition-duration: 150ms;
}
.qbar-item:hover {
    transform: scale(0.95);
    transition-duration: 150ms;
}
.q-item {
    background: #F1F1F1;
    color: #45AAF2;
}
.qbar-item:first-of-type {
    margin-left: 0px !important;
}
.qbar-item:last-of-type {
    margin-right: 0px !important;
}
.qitem-answered {
    background: #3867d6 !important;
    color: #F1F1F1 !important;
}
.qitem-active {
    background: #45aaf2 !important;
    color: #F1F1F1 !important;
}
.qbar-submit {
    width: 195px;
    background: #FC5C65;
    color: #F1F1F1;
}
.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding-bottom: 0px;
}

/* MAIN */
.main {
    flex-grow: 1;
    height: 500px;
    background: #F1F1F1;
    box-shadow: 0 7px 30px -2px rgba(150,170,180,0.5);
    border-radius: 20px;
    padding: 34px;
}
.main-pc {
    display: inline-flex;
    justify-content: space-between;
    margin: 34px 0px;
}
.main-mobile {
    overflow-y: auto;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 17px 0px;
}

.question {
    font-size: 32px;
    text-decoration: underline;
    text-decoration-thickness: 3px;
}
.answers {
    margin-top: 36px;
}
.main-pc .answers {
    max-width: 420px;
}
.option {
    background: #D1D8E0;
    box-shadow: 0px 7px 30px -10px rgba(150, 170, 180, 0.5);
    border-radius: 15px;
    text-align: center;
    margin: 17px 0px;
    padding: 17px;
    cursor: pointer;
}
.selected-option {
    background: #4b7bec;
    color: #F1F1F1;
    box-shadow: 0 7px 30px -2px rgba(75, 123, 236, 0.4);
}
.answered-option {
    background: #95b0f0;
    color: #F1F1F1;
    border: 1px solid #4b7bec;
    box-shadow: 0 7px 30px -2px rgba(75, 123, 236, 0.4);
    cursor: not-allowed;
}

.submit-question {
    padding: 15px 20px;
    margin: 51px 0px;
    background-color: rgb(43, 203, 186);
    color: #F1F1F1;
    box-shadow: 0 7px 30px -2px rgba(150, 170, 180, 0.5);
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* BOTTOM BAR */

.mobile-buttons {
    display: grid;
    grid-template-columns:  2fr 1fr 1fr ;
    grid-gap: 17px;
    justify-items: center;
}

.bot-item, .bot-submit {
    height: 65px;
    width: 100%;
    box-shadow: 0 7px 30px -2px rgba(150,170,180,0.5);
    border-radius: 10px;
    font-size: 24px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bot-item {
    background: #45AAF2 !important;
    color: #F1F1F1 !important;
}
.bot-submit {
    background: #FC5C65;
    color: #F1F1F1;
}

.hidden {
    display: none;
}