html {
    height: 100%;
    width: 100%;
}

body, input {
    font-family: 'Quicksand', sans-serif;
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dfe6e9;
}

.main {
    max-width: 90vw;
    max-height: 70vh;
    padding: 40px;

    border-radius: 15px;

    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main h2 {
    color: #0984e3;
    font-size: 2em;
    margin-bottom: 10px;
}

.fill-input {
    border: 2px solid #0984e3;
    padding: 0px;
    border-radius: 5px;
    width: 250px;
    max-width: 80%;
    margin: 10px 0px;
    display: inline-flex;
}
.input-icon {
    color: white;
    display: flex;
    background-color: #0984e3;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 42px;
}
.fill-input input {
    border: none;
    width: 100%;
    margin-left: 2px;
}

.checkbox {
    margin: 5px 0px;
}

.btn {
    background-color: #0984e3;
    text-align: center;
    border: none;
    border-radius: 5px;
    width: 250px;
    max-width: 80%;
    margin: 10px 0px;
    color: white;
    padding: 5px;
    font-size: 1em;
}
.btn:hover {
    transition-duration: 300ms;
    transform: scale(0.95);
    opacity: 0.9;
    cursor: pointer;
}

hr {
    background-color: #0984e3;
    height: 1px;
    width: 75%;
}

.main a {
    color: #0984e3;
}

.main p {
    margin: 10px 0px;
}